@charset "utf-8";
* {
    padding: 0;
    margin: 0;
    list-style: none;
}
header {
    width: 3.75rem;
    height: 0.5rem;
    padding: 0 0.09rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 0.16rem;
    box-sizing: border-box;
    border-bottom: 0.005rem solid #999999;
}
header > div {
    width: 0.63rem;
    height: 0.36rem;
    color: #999999;
    display: flex;
    align-items: center;
}
header .each {
    flex: 1;
    text-align: center;
    font-size: 0.1rem;
}
header div span {
    font-size: 0.21rem;
    color: #999999;
}
header img {
    width: 1rem;
}

#wrap_a {
    width: 100%;
    padding: 0 0.15rem;
    box-sizing: border-box;
    display: flex;
    border-top: 0.005rem solid red;
    align-items: center;
}
#wrap_a li {
    flex: 1;
    font-size: 0.14rem;
    color: #333333;
    margin-top: 0.18rem;
    box-sizing: border-box;
    text-align: center;
}
#wrap_a li p {
    margin-bottom: 0.225rem;
    margin-top: 0.18rem;
    box-sizing: border-box;
    line-height: 0.17rem;
}
#wrap_a li:nth-of-type(2) {
    height: 1.5rem;
}
#wrap_a li div {
    width: 0.6rem;
    height: 0.6rem;
    margin: 0 auto;
    background: #2BB280;
    border-radius: 50%;
    text-align: center;
    padding-top: 0.14rem;
    box-sizing: border-box;
}
#wrap_a li div span {
    font-size: 0.35rem;
    color: white;
    line-height:.3rem; 
}
#wrap_a #wrap_e {
    width: 100%;
    height: 2.18rem;
    overflow: hidden;
    text-indent: 2em;
    line-height: 0.26rem;
    padding: 0.17rem 0.09rem;
    box-sizing: border-box;
    font-size: 0.11rem;
    color: #343434;
}

#wrap_d {
    width: 100%;
    font-size: 0.13rem;
    text-align: center;
    color: #333333;
}
#wrap_d p:nth-of-type(1) {
    margin: 0.2rem 0;
    text-align: center;
}
#wrap_d p:nth-of-type(2) {
    display: flex;
}
#wrap_d p:nth-of-type(2) span {
    flex: 1;
}
#wrap_d p:nth-of-type(2) span:nth-of-type(1) {
    color: #2BB280;
}
#wrap_d p:nth-of-type(3) {
    margin: 0.26rem 0 0.17rem;
    text-align: center;
    font-size: 0.11rem;
    color: #969896;
}
#wrap_d .icon-hot-line {
    font-size: 0.15rem;
    color: #2BB280;
}

.div_img {
    width: 100%;
}
.div_img img {
    width: 100%;
}

#wrap_e {
    width: 100%;
    height: 1.22rem;
    overflow: hidden;
    text-indent: 2em;
    line-height: 0.26rem;
    padding: 0.17rem 0.09rem;
    box-sizing: border-box;
    font-size: 0.11rem;
    color: #343434;
}
